# **Python 02: Condition & Loop**

## 1. 입력 (Input)

### 1.1 문자열 입력

In [1]:
value = input("Insert string:")
print(value, type(value))

hello <class 'str'>

### 1.2 숫자 입력
int() 등으로 숫자형으로 변환해주어야 함

In [3]:
n = int(input("insert integer: "))

insert integer: 3

### 1.3 여러 개의 값 입력

In [1]:
ls = input("insert list (sep=' '): ")
ls = ls.split(" ")
print(type(ls), ls)

insert list (sep=' '): hyeshin byungwoo
<class 'list'> ['hyeshin', 'byungwoo']

### 1.4 입력 받은 숫자 활용 반복문

In [6]:
n = int(input("number : "))
for number in range(n):
    print(number, end = " ")

number : 5
0 1 2 3 4

# 2. 출력 (print)

### 2.1 print

In [7]:
print("test", "page")     #한 칸 띄워 출력

test page

### 2.2 pprint
- 딕셔너리와 같은 데이터 복잡할 때 가독성을 위해 정렬, 줄바꿈하여 출력

In [1]:
from pprint import pprint

dic = {"A":90, "B":70, "C":100, "D":90, "E":70, "F":100, "G":90, "H":70, "I":100}
pprint(dic)

{'A': 90,
 'B': 70,
 'C': 100,
 'D': 90,
 'E': 70,
 'F': 100,
 'G': 90,
 'H': 70,
 'I': 100}

## 3. 조건 : if, elif, else

### 3.1 if

#### 3.1.1 문법
condition이 True이면 code_1이 실행
```
if <condition>:
    <code_1>
```

In [8]:
flag = True
if flag:
    print(":)")

:)

### 3.2 else

In [ ]:
flag = True
if flag:
    print("dss")
else:
    print("data")
print("done")

### 3.3 elif
- 조건을 여러 개 줄 때

In [5]:
# 10-8:A / 7-4:B / 3-0: C
point = 3
result = ""
if point >= 8:
    result = "A"
elif point >= 4:
    result = "B"
else: 
    result = "C"
    
print(result)
print("done")

C
done

### 3.3.3 Quiz

In [6]:
# 숫자를 하나 입력 받아서 홀수이면 "odd", 짝수이면 "even"을 출력하는 코드 만들기
user_number = int(input("숫자를 입력해주세요: "))
if user_number % 2 == 0:
    print("even")
else:
    print("odd")

숫자를 입력해주세요: 4
even

### 3.4 삼항연산
문법: (True) if (condition) else (False)

In [9]:
user_number = int(input("숫자를 입력해주세요: "))
result = "even" if user_number % 2 == 0 else "odd"
print(result)

숫자를 입력해주세요: 3
odd

## 4. 반복 (loop) 
- while, for, list comprehension 반복문
- break, continue

### 4.1 while

In [11]:
a = 3
while a > 0:
    print(a)
    a -= 1
a

3
2
1

0

#### 4.1.3 break
- break 코드를 만나면 강제로 반복문이 종료

In [12]:
a = 3
while a > 0:
    print(a)
    if a == 2:
        break
    a -= 1
a

3
2

2

#### 4.1.4 continue
- continue 코드를 만나면 바로 반복문 구문으로 이동
- continue 아래 구문이 실행되지 않음

In [13]:
a = 3
while a > 0:
    print(a)
    if a == 2:
        a = 0
        continue
    a -= 1
a

3
2

0

In [14]:
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == 'q':
        break
    elif data % 2 == 0:
        continue
    print(data)
idx

1
3

5

### 4.2 for문
- range, zip, enumerate

#### 4.2.1 문법

In [2]:
'''
for <value> in <list>:
    <code>
'''

'\nfor <value> in <list>:\n    <code>\n'

#### 4.2.2 활용

In [31]:
ls = [0, 1, 2, 3, 4]
for i in ls:
    print(i)

0
1
2
3
4

#### 4.2.3 range
list를 간편하게 생성하기 위한 함수

In [18]:
ls = [0, 1, 2, 3, 4, 5]
ls

[0, 1, 2, 3, 4, 5]

In [26]:
# 0~5 리스트를 만들고 싶을 때, 범위를 리스트 형태로 만들어 줄 수 있음
print(range(6))
print(list(range(6)))
print(list(range(2, 6)))

range(0, 6)
[0, 1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [32]:
list(range(0,6,2)), list(range(6, 0, -1))

([0, 2, 4], [6, 5, 4, 3, 2, 1])

In [33]:
for i in range(5):    
    print("dss")

dss
dss
dss
dss
dss

In [28]:
for num in range(5):
    print("dss", num)

dss 0
dss 1
dss 2
dss 3
dss 4

In [29]:
ls = ["data", "science", "school"]
for idx in range(len(ls)):
    print(ls[idx])

data
science
school

In [3]:
ls = ["data", "science", "school"]
for i in ls:
    print(i)

data
science
school

#### 4.2.4 zip
2개의 리스트를 key, value (dictionary)형태로 묶어주는 함수

In [5]:
subs = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

result = {}
for k, v in zip(subs, points):
    result[k] = v              # dict type으로 저장될 수 있다
result

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [11]:
# zip을 쓰지 않으면 이렇게 해야 함
result = {}
for idx in range(len(subs)):
    result[subs[idx]] = points[idx]
result

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [3]:
# 가장 좋은 방법
subs = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

print(tuple(zip(subs, points)))
print(dict(zip(subs, points)))

(('korean', 100), ('english', 80), ('math', 90), ('science', 60))
{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

#### 4.2.5 enumerate
리스트 형태의 데이터를 index와 value 값을 동시에 사용할수 있는 함수

In [45]:
ls = ["math", "science", "korean"]
for value in ls:
    print(value)

math
science
korean

In [4]:
ls = ["math", "science", "korean"]

num = 0
for value in ls:
    print(num, value)
    num += 1

0 math
1 science
2 korean

In [5]:
ls = ["math", "science", "korean"]
for num, value in enumerate(ls):
    print(num, value)

0 math
1 science
2 korean

In [6]:
ls = ["math", "science", "korean"]
filtered_ls = []
for num, value in enumerate(ls):
    if value =="science":
        filtered_ls.append(num)
    print(num, value)
filtered_ls

0 math
1 science
2 korean

[1]

#### 4.2.6 퀴즈: for문

In [7]:
# numbers 안에 있는 숫자를 모두 더해서 result로 반환
numbers = [1, 3, 5, 7, 9]
result = 0
for i in numbers:
    result += i
result

25

### 4.3 list comprehension
- 반복되어 출력되는 리스트 형태의 데이터를 만들어주는 문법
- for문보다 속도가 빠름
- `ls = [<vlaue> for <value> in <list> (if <condition>)]`
- 간단하긴 하지만 사용 가능하다면 많이 쓰는 것이 좋은 문법

#### 4.3.2 활용

In [8]:
ls = [i for i in range(1, 6)]
ls

[1, 2, 3, 4, 5]

In [5]:
# 다른방법 1
ls = [1, 2, 3, 4, 5]

ls = []
ls.append(1)
ls.append(2)
ls.append(3)
ls.append(4)
ls.append(5)

# 다른방법 2
ls = []
for num in range(1,6):
    ls.append(num)

[1, 2, 3, 4, 5]

#### 4.3.3 list comprehension과 for문의 속도 비교

In [14]:
%%timeit
ls = []
for num in range(1, 10001):
    ls.append(num)
len(ls)

1.12 ms ± 40.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [12]:
%%timeit
ls = [num for num in range(1, 10001)]
len(ls)

503 µs ± 29.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

#### 4.3.4 삼항연산과 함께 사용

In [22]:
# 0 - 10까지 숫자를 출력하고 해당 수가 짝수인지 홀수 인지를 판별해서 odd / even 문자열을 추가하는 코드

ls = [str(num)+": even" if num % 2 == 0 else str(num)+": odd" for num in range(4)]
ls

['0: even', '1: odd', '2: even', '3: odd']

In [8]:
ls = [str(num) + ": even" if num % 2 == 0 else str(num) + ": odd" for num in range(1, 11)]
ls

['1: odd',
 '2: even',
 '3: odd',
 '4: even',
 '5: odd',
 '6: even',
 '7: odd',
 '8: even',
 '9: odd',
 '10: even']

#### 4.3.5 조건문을 함께 사용

In [23]:
# 홀수만 출력되게 함
ls = [num for num in range(11) if num % 2 == 1]
ls

[1, 3, 5, 7, 9]

#### 4.3.6 quiz

In [9]:
# 성이 lee인 사람의 성을 삭제하는 코드를 작성하세요
names = ["kim dss", "lee python", "park data", "lee macpro"]

result = [name.replace("lee ", "") for name in names]
# result = [name.split()[1] if name.split("")[0] = "lee" else name for name in names]
print(result)

result = [name for name in result if "park " not in name] 
# result = [name for name in result if name.startswith("park ") != True] 
# if name.split()[0] != "park"
print(result)

# result 1: ["kim dss", "python", "park data", "macpro"]
# result 2: ["kim dss", "python", "macpro"]     - park 씨의 데이터 제거

['kim dss', 'python', 'park data', 'macpro']
['kim dss', 'python', 'macpro']

#### 참고자료
- 패스트캠퍼스, ⟪데이터사이언스스쿨 8기⟫ 수업자료